<mat-drawer-container>

	<mat-drawer [(opened)]="settingsOpened" mode="over" position="end">
		<settings #settings></settings>
	</mat-drawer>

	<mat-drawer-content>
		<mat-tab-group mat-stretch-tabs>
			<mat-tab label="Pomodoro">
				<timer [endsIn]="25" (atZero)="timeIsUp(true)"></timer>
			</mat-tab>
			<mat-tab label="Short Break">
				<timer [endsIn]="5" (atZero)="timeIsUp(false)"></timer>
			</mat-tab>
			<mat-tab label="Long Break">
				<timer [endsIn]="15" (atZero)="timeIsUp(false)"></timer>
			</mat-tab>
		</mat-tab-group>

		<!-- move settings button elsewhere later -->
		<button mat-raised-button color="primary" (click)="settingsOpened = true">Settings</button>
		</mat-drawer-content>

</mat-drawer-container>